<%= form_for(@pant) do |f| %>
  <% if @pant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pant.errors.count, "error") %> prohibited this pant from being saved:</h2>

      <ul>
      <% @pant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :style %><br>
    <%= f.text_field :style %>
  </div>
  <div class="field">
    <%= f.label :inseam %><br>
    <%= f.number_field :inseam %>
  </div>
  <div class="field">
    <%= f.label :waist %><br>
    <%= f.number_field :waist %>
  </div>
  <div class="field">
    <%= f.label :img_url %><br>
    <%= f.text_field :img_url %>
  </div>
  <div class="field">
    <%= f.label :src_url %><br>
    <%= f.text_field :src_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
