<% @pants.each do |pant| %>
  <tr>
    <td><%= pant.name %></td>
    <td><%= pant.style %></td>
    <td><%= pant.inseam %></td>
    <td><%= pant.waist %></td>
    <td><%= pant.img_url %></td>
    <td><%= pant.src_url %></td>
    <td><%= link_to 'Show', pant %></td>
    <td><%= link_to 'Edit', edit_pant_path(pant) %></td>
    <td><%= link_to 'Destroy', pant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end  %>
