
  <div class="three columns card textarea">
    <p class="item"><%= link_to pant.src_url do %>
      <%= image_tag pant.img_url, height: '200'%>
      <%end%></p>
      <p><%= "name: "+ pant.name %>
        <%= link_to 'Show', pant %><br>
      <%= " style: " + pant.style %><br>
      <%= "inseam: " + pant.inseam.to_s %><br>
      <%= "waist: " + pant.waist.to_s %></p>
  </div>
