<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pant.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @pant.type %>
</p>

<p>
  <strong>Inseam:</strong>
  <%= @pant.inseam %>
</p>

<p>
  <strong>Waist:</strong>
  <%= @pant.waist %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @pant.img_url %>
</p>

<p>
  <strong>Src url:</strong>
  <%= @pant.src_url %>
</p>

<%= link_to 'Edit', edit_pant_path(@pant) %> |
<%= link_to 'Back', pants_path %>
