<p id="notice"><%= notice %></p>

<h1> <%= @store.name %> </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Size</th>
      <th>Color</th>
      <th>Img url</th>
      <th>Src url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @items.each do |item| %>
      <% if item.class == Shoe %>
        <%= render '/shoes/shoe', shoe: item %>
      <% elsif item.class == Shirt %>
        <%= render '/shirts/shirt', shirt: item %>
      <% elsif item.class == Pant  %>
        <%= render '/pants/pant', pant: item %>
      <% end %>
    <% end %>

  </tbody>
</table>

<br>
