<p id="notice"><%= notice %></p>

<h1> <%= @store.name %> </h1>

<table>

  <tbody>
    <% @items.each do |item|%>

        <% if item.class == Shoe %>
              <div class="three columns card textarea">
                <p class="item columns"><%= link_to item.src_url do %>
                    <%= image_tag item.img_url, class: 'imgitem'%>
                  <%end%></p>
                  <p><%= "name: "+ item.name %>
                    <%= link_to 'Show', item %><br>
                  <%= " style: " + item.style %><br>
                  <%= "color: " + item.color %><br>
                  <%= "size: " + item.size.to_s %></p>
                </div>

        <% elsif item.class == Shirt %>
              <div class="three columns card textarea">
                <p class="item"><%= link_to item.src_url do %>
                  <%= image_tag item.img_url, class: 'imgitem'%>
                  <%end%></p>
                  <p><%= "name: "+ item.name %>
                    <%= link_to 'Show', item %><br>
                  <%= " style: " + item.style %><br>
                  <%= "size: " + item.size %><br>
                  <%= "neck: " + item.neck.to_s %></p>
                </div>

        <% elsif item.class == Pant %>
              <div class="three columns card textarea">
                <p class="item"><%= link_to item.src_url do %>
                  <%= image_tag item.img_url, class: 'imgitem'%>
                  <%end%></p>
                  <p><%= "name: "+ item.name %>
                    <%= link_to 'Show', item %><br>
                  <%= " style: " + item.style %><br>
                  <%= "inseam: " + item.inseam.to_s %><br>
                  <%= "waist: " + item.waist.to_s %></p>
                </div>
        <% end %>

      <% end %>
  </tbody>
</table>

<br>
