<p id="notice"><%= notice %></p>

<h1> <%= @store.name %> </h1>

<table>

  <tbody>
    <% @items.each do |item|%>
        <% if item.class == Shoe %>

        <thead>
          <tr>
            <th>Name</th>
            <th>Style</th>
            <th>Size</th>
            <th>Color</th>
            <th>Image</th>
            <th colspan="3"></th>
          </tr>
        </thead>
            <div class="container">
              <div class="">
                <tr>
                  <td><%= item.name %>
                <%= link_to 'Show', item%></td>
                  <td><%= item.style %></td>
                  <td><%= item.size %></td>
                  <td><%= item.color %></td>
                  <td><%= link_to item.src_url do %>
                  <%= image_tag item.img_url, height: '32'%>
                  <%end%></td>
                </tr>
              </div>
              </div>
            </div>

        <% elsif item.class == Shirt %>

              <div class="three columns card textarea">
                <p class="item"><%= link_to item.src_url do %>
                  <%= image_tag item.img_url, height: '200'%>
                  <%end%></p>
                  <p><%= "name: "+ item.name %>
                    <%= link_to 'Show', item %><br>
                  <%= " style: " + item.style %><br>
                  <%= "size: " + item.size %><br>
                  <%= "neck: " + item.neck.to_s %></p>
                </div>

        <% elsif item.class == Pant %>
            <div class="">
              <div class="">
                <tr>
                  <td><%= item.name %></td>
                  <td><%= item.style %></td>
                  <td><%= item.inseam %></td>
                  <td><%= item.waist %></td>
                  <td><%= link_to item.src_url do %>
                  <%= image_tag item.img_url, height: '32'%>
                  <%end%></td>
                </div>
                <div class="">
                  <td><%= link_to 'Show', item %></td>
                  <td><%= link_to 'Edit', edit_pant_path(item) %></td>
                  <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              </div>
            </div>
        <% end %>

      <% end %>
  </tbody>
</table>

<br>
