<p id="notice"><%= notice %></p>

<h1> <%= @store.name %> </h1>

<table>

  <tbody>

    <% @items.each do |item| %>
      <% if item.class == Shoe %>
        <%= render '/shoes/shoe', shoe: item %>

      <% elsif item.class == Shirt %>
        <%= render '/shirts/shirt', shirt: item %>

      <% elsif item.class == Pant  %>
        <%= render '/pants/pant', pant: item %>

      <% end %>
    <% end %>

  </tbody>
</table>

<br>
