<p id="notice"><%= notice %></p>

<h1> <%= @store.name %> </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <%= render '/shoes/shoe' %>
    <%= render '/shirts/shirt' %>
    <%= render '/pants/pant' %>

  </tbody>
</table>

<br>
