
  <div class="three columns card textarea">
    <p class="item"><%= link_to shirt.src_url do %>
      <%= image_tag shirt.img_url, height: '200'%>
      <%end%></p>
      <p><%= "name: "+ shirt.name %>
        <%= link_to 'Show', shirt %><br>
      <%= " style: " + shirt.style %><br>
      <%= "size: " + shirt.size %><br>
      <%= "neck: " + shirt.neck.to_s %></p>
    </div>
