<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shirt.name %>
</p>

<p>
  <strong>style:</strong>
  <%= @shirt.style %>
</p>

<p>
  <strong>Size:</strong>
  <%= @shirt.size %>
</p>

<p>
  <strong>Neck:</strong>
  <%= @shirt.neck %>
</p>

<p>
  <strong>Img url:</strong>
  <%= @shirt.img_url %>
</p>

<p>
  <strong>Src url:</strong>
  <%= @shirt.src_url %>
</p>

<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
