<p id="notice"><%= notice %></p>

<h1>Listing Shoes</h1>

<% @shoes.all.each do |shoe| %>
<div class="three columns card textarea">
  <p class="item"><%= link_to shoe.src_url do %>
    <%= image_tag shoe.img_url, width: '165'%>
    <%end%></p>
    <p><%= "name: "+ shoe.name %>
      <%= link_to 'Show', shoe %><br>
    <%= " style: " + shoe.style %><br>
    <%= "color: " + shoe.color %><br>
    <%= "size: " + shoe.size.to_s %></p>
  </div>
<% end %>
<br>
<div class="one column">
<%= link_to 'New Shoe', new_shoe_path %>
</div>
