<!DOCTYPE html>
<html>
<head>
  <title>Code4Reuse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav">
  <%= link_to "Shoes", shoes_path %>
  <%= link_to "Shirts", shirts_path %>
  <%= link_to "Pants", pants_path %>

</div>

<div class="container">

<%= yield %>

</div>

</body>
</html>
